<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KıtalarveÜlkeler.Properties.Settings.DBKıtalarConnectionString"
            connectionString="Data Source=DESKTOP-6TU5ELE\SQLEXPRESS;Initial Catalog=DBKıtalar;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>